/* Press */

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

h2 {
  font-family: "Roboto Condensed-Light", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 36px;
}

ul {
  list-style-type: none;
}

.press-content span {
  font-size: 17px;
  font-family: "Roboto Condensed-Light", sans-serif;
}

.press-container {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
  background: #548;
}

.press-content {
  padding-top: 51px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

  .press-content h2 {
    font-size: 45px;
  }

  .press-content h3 {
    font-size: 17px;
    font-family: "Roboto Condensed-Light", sans-serif;
  }

  .press-content span {
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
  }

.press-company {
  text-decoration: none;
  color: gray;
  float: right;
}

.container {
  text-align: center;
}

.wrapper {
  margin: 0 auto !important;
}

.sub-wrapper {
  margin: 45px 0;
}

.image-container {
  transition: 0.5s ease;
  margin-top: 35px;
  padding-left: 100px;
}

.all-items {
  margin-bottom: 50px;
}

.images-column .image-container div:nth-child(2):hover {
  opacity: 0.5;
  cursor: pointer;
}

.founders {
  background-image: url(/images/press/founders.png);
  background-position-y: -18px;
}

.fox {
  background-image: url(/images/press/logo/logo.png);
  background-position-y: -17px;
}

.diff {
  background-image: url(/images/press/screenshots/diff.png);
  background-position-y: -4px;
}

.mr {
  background-image: url(/images/press/screenshots/mr.png);
  background-position-y: -4px;
}


.file {
  background-image: url(/images/press/screenshots/file_view.png);
  background-position-y: -4px;
}

.network-graph {
   background-image: url(/images/press/screenshots/network_graph.png);
  background-position-y: -4px;
}

.wordmark {
  background-image: url(https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm.png);
}

.wordmark-no-bg {
  background-image: url(https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.png);
  background-position-y: 8px;
}

.wordmark-grayscale {
  background-image: url(https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_grayscale.png);
  background-position-y: 8px;
}

.image {
overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 40px;
  width: 170px;
  float: left;
  border: 1px solid #548;
  border-radius: 2px;
}

.fa span {
  font-family: "Roboto Condensed", sans-serif;
}

.blog_twitter_row {
  margin: 55px 0;
}

.recent-blog p {
  font-size: 20px;
  font-family: "Roboto Condensed-Light", sans-serif;
}

.recent-blog a:first-child {
  color: #548;
  transition: 0.2s ease;
  text-decoration: underline;
}

  .recent-blog a:first-child:hover {
    text-decoration: none;
  }

.recent-blog a:nth-child(2) {
  color: #55ACEE;
  text-decoration: underline;
  transition: 0.2s ease;
}

  .recent-blog a:nth-child(2):hover {
    text-decoration: none;
  }

.press-image {
  display: inline-block;
  width: 30%;
  padding-right: 40px;
  font-family: "Roboto Condensed-Light", sans-serif;
}

  .press-image img {
    -webkit-filter: grayscale(85%);
    -moz-filter: grayscale(85%);
    -ms-filter: grayscale(85%);
    -o-filter: grayscale(85%);
    filter: grayscale(85%);
    filter: filter: grayscale(85%);
    filter: gray;
    transition: 0.2s ease;
  }

    .press-image img:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none; /* Firefox 4+ */
      filter: none; /* IE 6-9 */
    }

.press-text {
  text-align: left;
  margin: 0 0 18px 0;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.article-title {
  color: black;
  font-family: "Roboto Condensed-Light", sans-serif;
  font-size: 18px;
}

.image-container .text {
  width: 170px;
}

.image-container .text span {
  font-size: 19px;
  font-family: "Roboto Condensed-Light", sans-serif;
}

.image-container .text p {
  color: #aaa;
  margin: 0;
  font-size: 11px;
  margin-bottom: 7px;;
}

.individual .btn {
  width: 100%;
  border-color: #aaa;
  margin-top: 1px;
}

.individual .btn a {
  color: black;
}

.list {
  width: 169px;
}

.multi-button a {
  color: black;
}

.multi-button .btn {
  border-color: #aaa;
  width: 100%;
  margin: 2px 0px;
}

.images-column .btn-group>.btn:first-child {
  border: 1px solid #548;
  margin-top: -5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 6px 49px;
  margin-left: 1px;
}

.dropdown-menu > li > a {
  text-align: left;
}

.recent-podcasts {
  margin-bottom: 45px;
}

.podcast-item {
  margin-bottom: 15px;
}

.investors .press-image img {
  width: 281px;
}

.footer, .wrapper:after {
  height: auto;
}
